body {
    font-family: 'Merriweather', serif;
}
*{
    margin: 0;
}
/* banner er style */
.banner {
    margin: 0 110px;
    background-image: url('../ascet/banner-image.png');
    background-position: center;
    background-size: cover;
    color: white;
    border-radius: 16px;
}
.banner-title>h1 {
    font-size: 50px;
}
.banner-title>p {
    font-size: 20px;
}
.banner-title {
    padding: 150px 50px 210px 50px;
    text-align: center;
}

/* main section styles */
.off {
    margin:120px 110px 80px 110px;
}
.off-title {
    text-align: center;
}
.off-title>h1 {
    color: #FF0000;
    font-size: 80px;
    margin-bottom: 30px;
}
.off-title>p {
    color: #FF0000;
    font-size: 20px;
    margin: 0;
}

.off-title>h5 {
    font-size: 40px;
}

.off-img {
    text-align: center;
}

/*best gift section */
.best-gift{
    margin: 0 110px;
}
.best-gift .red{
    color: #FF0000;
    font-size:20px ;
}
.best-gift h3{
    font-size: 25px;
    padding: 10px 0;
}
.best-gift p{
    font-size: 15px;
    color: rgba(7, 2, 17, 0.60);
}
.Photo-grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    row-gap: 15px;
    margin: 20px 0 80px;
}
.Photo-grid img:hover{
    transform:scale(1.1);
}

/* newsletter section */
.newsletter {
    background: rgba(255, 0, 0, 0.05);
    margin: 0 110px;
    text-align: center;
    padding: 60px 200px;
}
.newsletter>h4 {
    font-style: bold;
    font-size: 40px;
    padding: 15px 0;
}
.newsletter>p{
    color: rgba(7, 2, 17, 0.60);
    margin-bottom: 30px;
}
.btn-sub{
    background-color: #FF0000;
    color: aliceblue;
    border-radius: 0 50px 50px 0;
    border: 0;
    padding: 15px 30px;  
}
.newslatter-gmail{
    padding: 15px 30px;
    border-radius: 50px 0 0 50px; 
    border: 0;
}
.newslatter-inputt{
    display: flex;
    gap:0;
}
/* footer style */
footer{
    background-color: black;
    color:white ;
    font-size: 14px;
    margin-top: 50px;
    padding:80px 100px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.footer-top-inline{
    display: flex;
    gap: 10px;
}
.footer-center{
    text-align: center;
    padding: 20px;
}
.footer-center a>img{
    width: 30px;
    height:30px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 20px;  
}